<html>
  <head>
    <title>Chat</title>
    <style>
      input { display: block; }
      ul { list-style: none; }
    </style>
  </head>

  <body>
    <ul id="messages"></ul>
    WebSocketを使ったチャットアプリ
    <form id="chatbox" action="index.html" method="post">
      {{.UserData.name}}:<br/>
      <textarea></textarea>
      <input type="submit" value="送信" />
    </form>
  </body>

  <script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
  <script type="text/javascript">
    $(function () {
      var socket = null;
      var msgBox = $("#chatbox textarea");
      var messages = $("#messages");

      $("#chatbox").submit(function () {
        if (!msgBox.val()) return false;
        if (!socket) {
          alert("Error: WebSocket接続が行われていません。");
          return false;
        }
        socket.send(JSON.stringify({"Message": msgBox.val()}));
        msgBox.val("");
        return false;
      });

      if (!window["WebSocket"]) {
        alert("Error: WebSocketに対応していないブラウザです。")
      } else {
        socket = new WebSocket("ws://{{.Host}}/room");
        socket.onclose = function () {
          alert("接続が終了しました。");
        }
        socket.onmessage = function (e) {
          var msg = JSON.parse(e.data);
          messages.append(
            $("<li>").append(
              $("<strong>").text(msg.Name + ": "),
              $("<span>").text(msg.Message)
            )
          );
        }
      }
    })
  </script>
</html>
